[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Categories=Utilities;
Name=ProCalc
Exec=/usr/bin/procalc
Icon=procalc
X-Osso-Type=application/x-executable
